	a{
    color:#222222;
	}
	a:hover{
		text-decoration:none;
		color:#17C0EA;
	}
	body{
		background-color:#F8F8F8;
	}
	.body{
		width:1200px;

		margin:30px auto;
	}
	.book-image{
		border:1px solid #E5E5E5;
		width:350px;
		height:480px;
		padding-top:23px;
		padding-left:20px;
	}
	.book-detail{
		border:1px solid #E5E5E5;
		width:580px;
		height:480px;
		padding:20px 20px; 
	}
	.book-store{
		border:1px solid #E5E5E5;
		width:240px;
		height:480px;
		padding:10px 10px;
	}
	.book-store .book-button{
		margin-top:100px;
		padding-top:20px;
	}
	
	
	
	
	
	
	
	
	.row-3{
		width:100%;
		height:120px;
	}
	.foot{
		width:100%;
		height:200px;
		background-color:#222222;
		color:white;
		margin-top:20px;
	}
	.foot a{
		color:white;
	}
	.foot-intruction{
		width:700px;
		height:120px;
		margin:auto auto;
	}
	.no-border{
		border: 0px solid transparent;
	}
	
	.foot-intruction td{
		font-size:10px;	
	}
	.foot-intruction td a{
		color:#D8D8D8;
	}
	.foot-bottom{
		margin-top:45px;
		margin-left:70px;
	}
	.foot-bottom a{
		margin:0 25px;
	}
